div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
    side-bar

    div(id='content-wrapper')
        navbar
        .page-content
            .row
                .col-lg-12
                    h3 Users Logs
                    table.table
                        colgroup
                            col.col-md-1
                            col.col-md-1
                            col.col-md-1
                            col.col-md-1
                        thead
                            tr
                                th.text-center Total Users
                                th.text-center Active Users Last 7 days
                                th.text-center Active Users Last 30 days
                                th.text-center Signin Last 7 days
                        tbody
                            tr
                                td.text-center
                                    div {{countUsers}}
                                td.text-center
                                    div {{countActiveUsers7}}
                                td.text-center
                                    div {{countActiveUsers30}}
                                td.text-center
                                    div {{countSignin7}}

                    table.table
                        colgroup
                            col.col-md-2
                            col.col-md-4
                            col.col-md-1
                            col.col-md-4
                            col.col-md-1
                        thead
                            tr
                                th.text-center Login Date
                                th.text-center Email
                                th.text-center User IP
                                th.text-center User Agent
                                th.text-center Actions
                        tbody
                            tr(ng-repeat='accessToken in accessTokens | DataFormater')
                                td.text-center
                                    div {{accessToken.created| date : "yyyy/MM/dd HH:mm:ss"}}
                                td.text-center
                                    span {{accessToken.user.email}}
                                td.text-center
                                    span {{accessToken.userIp}}
                                td.text-center
                                    span {{accessToken.userAgent}}
                                td.pull-right
                                    button.btn.btn-xs.btn-primary(ng-click='editIndex(accessToken.user._id)' tooltip='Edit' )
                                        span.glyphicon.glyphicon-pencil
