div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
    side-bar

    div(id='content-wrapper')
        navbar
        .page-content
            .row
                .col-lg-12
                    h3 Last Imported Movies (BET)
                    table.table
                        colgroup
                            col.col-md-1
                            col.col-md-1
                            col.col-md-2
                            col.col-md-7
                            col.col-md-1
                            col.col-md-1
                            col.col-md-1
                        thead
                            tr
                                th.text-center ID
                                th.text-center Dates
                                th.text-center Thumb
                                th.text-center Title
                                th.text-center Type
                                th.text-center In prod
                                th.text-center Actions
                        tbody
                            tr(ng-repeat='item in movies | DataFormater')
                                td.text-center
                                    span {{item._id}}
                                td.text-center(ng-style="item.expired && {'background-color':'green'} || {'background-color': 'orange'}")
                                    div Import : {{item.dateFrom| date : "yyyy/MM/dd"}}
                                    div Expire : {{item.dateTo| date : "yyyy/MM/dd"}}
                                td
                                    .thumbnail
                                        img.poster.img-responsive(src='{{item.genericThumb.imgix}}?fit=crop&w=200&h=160')
                                td.text-center
                                    strong {{item.genericTitle}}
                                    br
                                    span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                                td.text-center
                                    strong {{item.type}}
                                td.text-center
                                    button.btn.btn-xs.btn-default(ng-click='activateIndex(item, "movie")' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                                        span(ng-class='item.active ? "text-success":"text-danger"')
                                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                                td.pull-right
                                    button.btn.btn-xs.btn-primary(ng-click='editIndex(item, "movie")' tooltip='Edit' )
                                        span.glyphicon.glyphicon-pencil

                    h3 Last Imported Seasons (BET)
                    table.table
                        colgroup
                            col.col-md-1
                            col.col-md-1
                            col.col-md-2
                            col.col-md-7
                            col.col-md-1
                            col.col-md-1
                            col.col-md-1
                        thead
                            tr
                                th.text-center ID
                                th.text-center Dates
                                th.text-center Thumb
                                th.text-center Title
                                th.text-center Season Number
                                th.text-center In prod
                                th.text-center Actions
                        tbody
                            tr(ng-repeat='item in seasons | DataFormater')
                                td.text-center
                                    span {{item._id}}
                                td.text-center(ng-style="item.expired && {'background-color':'green'} || {'background-color': 'orange'}")
                                    div Import : {{item.dateFrom| date : "yyyy/MM/dd"}}
                                    div Expire : {{item.dateTo| date : "yyyy/MM/dd"}}
                                td
                                    .thumbnail
                                        img.poster.img-responsive(src='{{item.genericThumb.imgix}}?fit=crop&w=200&h=160')
                                td.text-center
                                    strong {{item.genericTitle}}
                                    br
                                    span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                                td.text-center
                                    strong {{item.seasonNumber}}
                                td.text-center
                                    button.btn.btn-xs.btn-default(ng-click='activateIndex(item, "season")' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                                        span(ng-class='item.active ? "text-success":"text-danger"')
                                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                                td.pull-right
                                    button.btn.btn-xs.btn-primary(ng-click='editIndex(item, "season")' tooltip='Edit' )
                                        span.glyphicon.glyphicon-pencil

                    h3 Last Imported Episodes (BET)
                    table.table
                        colgroup
                            col.col-md-1
                            col.col-md-1
                            col.col-md-2
                            col.col-md-7
                            col.col-md-1
                            col.col-md-2
                            col.col-md-1
                            col.col-md-1
                            col.col-md-1
                        thead
                            tr
                                th.text-center ID
                                th.text-center Dates
                                th.text-center Thumb
                                th.text-center Title
                                th.text-center Episode Number
                                th.text-center Season
                                th.text-center Season Number
                                th.text-center In prod
                                th.text-center Actions
                        tbody
                            tr(ng-repeat='item in episodes | DataFormater')
                                td.text-center
                                    span {{item._id}}
                                td.text-center(ng-style="item.expired && {'background-color':'green'} || {'background-color': 'orange'}")
                                    div Import : {{item.dateFrom| date : "yyyy/MM/dd"}}
                                    div Expire : {{item.dateTo| date : "yyyy/MM/dd"}}
                                td
                                    .thumbnail
                                        img.poster.img-responsive(src='{{item.genericThumb.imgix}}?fit=crop&w=200&h=160')
                                td.text-center
                                    strong {{item.genericTitle}}
                                    br
                                    span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                                td.text-center
                                    strong {{item.episodeNumber}}
                                td.text-center
                                    strong {{item.season.title}}
                                td.text-center
                                    strong {{item.season.seasonNumber}}
                                td.text-center
                                    button.btn.btn-xs.btn-default(ng-click='activateIndex(item, "episode")' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                                        span(ng-class='item.active ? "text-success":"text-danger"')
                                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                                td.pull-right
                                    button.btn.btn-xs.btn-primary(ng-click='editIndex(item, "episode")' tooltip='Edit' )
                                        span.glyphicon.glyphicon-pencil

                    h3 Last Imported Videos (BET)
                    table.table
                        colgroup
                            col.col-md-1
                            col.col-md-7
                            col.col-md-1
                            col.col-md-1
                        thead
                            tr
                                th.text-center ID
                                th.text-center Video Name
                                th.text-center In prod
                                th.text-center Actions
                        tbody
                            tr(ng-repeat='item in videos | DataFormater')
                                td.text-center
                                    span {{item._id}}
                                td.text-center
                                    strong {{item.name}}
                                td.text-center
                                    button.btn.btn-xs.btn-default(ng-click='activateIndex(item, "video")' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                                        span(ng-class='item.active ? "text-success":"text-danger"')
                                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                                td.pull-right
                                    button.btn.btn-xs.btn-primary(ng-click='editIndex(item, "video")' tooltip='Edit' )
                                        span.glyphicon.glyphicon-pencil