.modal-header(style='background-image:url({{item.poster.imgix}});')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title Crop image
.modal-body
  div(class="row")
    div(class="row-height" style="min-height:500px;")
      div(class="col-md-8 col-md-height col-md-middle")
        img-crop(image="image.imgix+'?fm=jpg'" area-type="rectangle" area-coords="area" cropject="cropject" aspect-ratio="0.51" result-image="myCroppedImage")
      div(class="col-md-4")
        div
          Cropped Image:
        div
          img(ng-src="{{myCroppedImage}}")
.modal-footer
  button.btn.btn-primary(type='submit' ng-click='crop()') Valider
  button.btn.btn-primary(ng-click='cancel()') Cancel
