.modal-header(style='background-image:url({{item.poster}});')
    button.close(data-dismiss='modal' aria-hidden='true')
    h4.modal-title Upload file to S3 service
.modal-body
    form.form-horizontal(role='form')
        .form-group
    .row
        label.control-label Select File
        div(ng-show='uploader.isHTML5')
            .well.my-drop-zone(nv-file-over='' nv-file-drop uploader='uploader') Drop file here
        input.form-control(type='file' ng-model='item.label' nv-file-select='' uploader='uploader')
    .row
        h3 Upload
        table.table
            colgroup
                col.col-md-2
                col.col-md-1
                col.col-md-2
                col.col-md-3
                col.col-md-1
                col.col-md-3
            thead
                tr
                    th Name
                    th(ng-show='uploader.isHTML5') Size
                    th(ng-show='uploader.isHTML5') Progress
                    th Status
                    th Actions
            tbody
                tr(ng-repeat='item in uploader.queue')
                    td
                        strong {{item.file.name}}
                    td(ng-show='uploader.isHTML5') {{ item.file.size/1024/1024|number:2 }} MB
                    td(ng-show='uploader.isHTML5')
                        .progress.progress-striped.active
                            .progress-bar(role='progressbar' type='dynamic' ng-style="{ 'width': item.isUploading * item.progress + '%' }")
                    td.text-center
                        span(ng-show='item.isSuccess')
                            i.glyphicon.glyphicon-ok
                        span(ng-show='item.isCancel')
                            i.glyphicon.glyphicon-ban-circle
                        span(ng-show='item.isError')
                            i.glyphicon.glyphicon-remove
                    td(nowrap)
                        .btn-group
                            button.btn.btn-success.btn-xs(type='button' ng-click='item.upload()' ng-disabled='item.isReady || item.isUploading || item.isSuccess' )
                                span.glyphicon.glyphicon-upload Upload
                            button.btn.btn-success.btn-xs(type='button' ng-click='item.cancel()' ng-disabled='!item.isUploading' )
                                span.glyphicon.glyphicon-ban-circle Cancel
                            button.btn.btn-success.btn-xs(type='button' ng-click='item.remove()' )
                                span.glyphicon.glyphicon-trash Remove
.modal-footer
