div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          rd-widget
            rd-widget-header(icon='fa-tasks' title='{{type}}')
              .row
                input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='$parent.$parent.searchField')
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='newIndex()')
                  span.glyphicon.glyphicon-plus
                  span Add new
            rd-widget-body.medium.no-padding
              .table-responsive
                table.table
                  colgroup
                    col.col-md-1
                    col.col-md-2(ng-if='hasThumb()')
                    col.col-md-7
                    col.col-md-1
                    col.col-md-1
                  thead
                    tr
                      th.text-center ID
                      th.text-center(ng-if='hasThumb()') Thumb
                      th.text-center Title
                      th.text-center In prod
                      th.text-center Actions
                  tbody(ui-sortable='sortableOptions' ng-model='items')
                    tr(ng-repeat='item in items | filter:searchField')
                      td.text-center
                        span {{item._id}}
                      td(ng-if='hasThumb()')
                        .thumbnail
                          img.poster.img-responsive(src='{{item.thumb.imgix}}?fit=crop&w=200&h=160')
                      td.text-center
                        strong {{item.title || item.label || item.name}}
                        br
                        span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                      td.text-center
                        button.btn.btn-xs.btn-default(ng-click='activateIndex(item)' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                          span(ng-class='item.active ? "text-success":"text-danger"')
                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                      td.pull-right
                        button.btn.btn-xs.btn-primary(ng-click='editIndex(item)' tooltip='Edit' )
                          span.glyphicon.glyphicon-pencil
                        button.btn.btn-xs.btn-info(ng-click='cloneIndex(item)' tooltip='Clone' )
                          span.fa.fa-clone
                        button.btn.btn-xs.btn-danger(ng-click='deleteIndex(item)' tooltip='Delete' )
                          span.glyphicon.glyphicon-trash
