div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          rd-widget
            rd-widget-header(icon='fa-tasks' title='{{type}}')
              .row
                input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='$parent.$parent.$parent.searchField')
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='newIndex()')
                  span.glyphicon.glyphicon-plus
                  span Add new
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='importAlgolia()')
                  span.glyphicon.glyphicon-send
                  span Import All to algolia
              videos-import

            rd-widget-body.medium.no-padding
              .table-responsive
                table.table
                  colgroup
                    col.col-md-1
                    col.col-md-2(ng-if='hasThumb()')
                    col.col-md-7
                    col.col-md-2(ng-if='hasMail()')
                    col.col-md-1(ng-if="type == 'video'")
                    col.col-md-1(ng-if="type == 'season'")
                    col.col-md-1(ng-if="type == 'episode'")
                    col.col-md-1(ng-if="type == 'episode'")
                    col.col-md-1
                    col.col-md-1
                  thead
                    tr
                      th.text-center ID
                      th.text-center(ng-if='hasThumb()') Thumb
                      th.text-center Title
                      th.text-center(ng-if='hasMail()') Email
                      th.text-center(ng-if="type == 'video'") DRM
                      th.text-center(ng-if="type == 'season'") Season Number
                      th.text-center(ng-if="type == 'episode'") Season Number
                      th.text-center(ng-if="type == 'episode'") Episode Number
                      th.text-center In prod
                      th.text-center Actions
                  tbody(ng-model='items' directive-if="{'ui-sortable': 'sortable === true'}" ui-sortable='sortableOptions' )
                    tr(dir-paginate='item in items | itemsPerPage : itemsPerPage | DataFormater' total-items='totalItems' current-page='pagination.current' pagination-id='itemsPagination')
                      td.text-center
                        span {{item._id}}
                      td(ng-if='hasThumb()')
                        .thumbnail
                          img.poster.img-responsive(src='{{item.genericThumb.imgix}}?fit=crop&w=200&h=160')
                      td.text-center
                        strong {{item.genericTitle}}
                        br
                        span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                      td.text-center(ng-if='hasMail()')
                        strong {{item.email}}
                      td.text-center(ng-if="type == 'video'")
                        div(style="margin:12px 5px 0 5px") {{item.drm?'&#x2713;':'&#x274c;'}}
                      td.text-center(ng-if="type == 'season'")
                        strong {{item.seasonNumber}}
                      td.text-center(ng-if="type == 'episode'")
                        strong {{item.season.seasonNumber}}
                      td.text-center(ng-if="type == 'episode'")
                        strong {{item.episodeNumber}}
                      td.text-center
                        button.btn.btn-xs.btn-default(ng-click='activateIndex(item)' tooltip='{{item.active ? "remove from prod" : "push in prod"}}' )
                          span(ng-class='item.active ? "text-success":"text-danger"')
                            i.fa(ng-class='item.active ? "fa-toggle-on": "fa-toggle-off"')
                      td.pull-right
                        button.btn.btn-xs.btn-primary(ng-click='editIndex(item)' tooltip='Edit' )
                          span.glyphicon.glyphicon-pencil
                        button.btn.btn-xs.btn-info(ng-click='cloneIndex(item)' tooltip='Clone' ng-if='!hasMail()')
                          span.fa.fa-clone
                        button.btn.btn-xs.btn-danger(ng-click='deleteIndex(item.genericTitle, item)' tooltip='Delete' )
                          span.glyphicon.glyphicon-trash
              dir-pagination-controls(pagination-id='itemsPagination'  on-page-change='loadPage(newPageNumber)' boundary-links='true')
