.form-group
  label.control-label Short Title (ex: En intégral)
  input.form-control(type='string' ng-maxlength='32' ng-model='item.shortTitle')

//.form-group
//  label.control-label Movie
//  tags-input(ng-model='item.movie' placeholder='Search movie' add-from-autocomplete-only='true' display-property='title' key-property='_id')
//    auto-complete(source='loadMovies($query)' template='movie-template' min-length='0'
//    load-on-focus='true'
//    load-on-empty='true'
//    max-results-to-show='32')
//  script(type='text/ng-template' id='movie-template')
//    .tag-template
//      span {{data.title}}
.form-group
  label.control-label Season Number
  input.form-control(type='number' min='0' ng-model='item.seasonNumber')

.form-group
  label.control-label Number Of Episodes
  input.form-control(type='number' ng-model='item.numberOfEpisodes')

.form-group
  label.control-label Movie
  input.form-control(type='text' ng-model='item.movie' placeholder='Search movie' typeahead='movie as movie.title for movie in loadMovies($viewValue) | limitTo: 5')

.form-group(ng-show='!item._id')
  .checkbox
    label
      input(type='checkbox' ng-model='autoEpisodes')
      span Auto generate episodes

.form-group(ng-if='!autoEpisodes')
  label.control-label Episodes
  tags-input(ng-model='item.episodes' placeholder='Search episode' add-from-autocomplete-only='true' display-property='autocompleteTitle' key-property='_id' replace-spaces-with-dashes='false')
    auto-complete(source='loadEpisodes($query)' template='episode-template' min-length='0'
    load-on-focus='true'
    load-on-empty='true'
    max-results-to-show='32')
  script(type='text/ng-template' id='episode-template')
    .tag-template
      span {{data.autocompleteTitle}}

.form-group(ng-if='autoEpisodes')
  label.control-label Auto generate Episodes
  slider(min='0' step='1' max='100' ng-model="item.episodes")

.form-group
  label.control-label Countries
  countries(props="countriesProps")

.form-group
  label.control-label Broadcasters
  broadcasters(props="broadcastersProps")
