.modal-header {
  @modal-padding: 25px 15px 25px 15px;
  padding: @modal-padding;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  &:before {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -25px -15px -25px -15px;
    content: '';
  }
  .modal-title {
    position: relative;
    color: #FFFFFF;
  }
}

.fill(@spacing: 0) {
  position: absolute;
  top: @spacing;
  bottom: @spacing;
  left: @spacing;
  right: @spacing;
  max-height: 100%;
  max-width: 100%;
}

.aspect-ratio(@w, @h) {
  @ratio: (@h / @w);
  max-width: 100%;
  max-height: 100%;
  &:before {
    content: "";
    display: block;
    padding-top: (100% * @ratio);
  }

  > * {
    .fill;
  }
}

.modal-body {
  .fix-height {
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  .img-ratio-adspot {
    .aspect-ratio(16, 31);
  }
}
