script(type='text/ng-template' id='imagesTemplate.html')
  a
    img(ng-src='{{match.model.imgix}}?fit=crop&w=100&h=30')
    span(ng-bind-html='match.label | typeaheadHighlight:query')

.modal-header(style='background-image:url({{item.poster.imgix}}?fit=crop&w=1000&h=200);')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title {{item.title | limitTo:50}}
.modal-body
  form.form-horizontal(role='form')

    div(ng-if='type === "category"')
      categorys

    div(ng-if='type === "video"')
      videos

    div(ng-if='type === "language"')
      languages

    div(ng-if='type === "image"')
      images

    div(ng-if='type !== "category" && type !== "video" && type !== "language" && type !== "image"')
      .form-group
        label(for='type').control-label Type
      .form-group
        .btn-group
          label.btn.btn-primary(ng-model='item.type' btn-radio='"item"' ng-if='isFilm()') Movie
          label.btn.btn-primary(ng-model='item.type' btn-radio='"serie"' ng-if='isFilm()') Série
          label.btn.btn-primary(ng-model='item.type' btn-radio='"season"' ng-if='isSeason()') Season
          label.btn.btn-primary(ng-model='item.type' btn-radio='"episode"' ng-if='isEpisode()') Episode

      .form-group
        label(for='title').control-label Title
        input.form-control(id='title' type='text' ng-model='item.title' ng-change='slugify(item.title)' placeholder='Title')
        label(for='slug').control-label Slug
        input.form-control(id='slug' type='text' ng-model='item.slug' placeholder='Slug url')

      .form-group
        label(for='poster').control-label Poster
        //input.form-control(id='poster' type='text' ng-model='item.poster' placeholder='Poster Url/Id')
        input.form-control(type='text' ng-model='item.poster' placeholder='Search poster' typeahead='image as image.name for image in loadImages($viewValue,"poster") | limitTo: 5' typeahead-template-url='imagesTemplate.html')

      .form-group
        label(for='thumb').control-label Thumb
        input.form-control(type='text' ng-model='item.thumb' placeholder='Search thumb' typeahead='image as image.name for image in loadImages($viewValue, "thumb") | limitTo: 30' typeahead-template-url='imagesTemplate.html')


      .form-group
        .row
          .col-md-6
            p.input-group
              input.form-control(id='dateFrom' type='text' ng-model='item.dateFrom' is-open='opened' placeholder='FROM' datepicker-popup='{{format}}' min-date='minDate'  datepicker-options='dateOptions' date-disabled='disabled(date, mode)' close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='open()')
                  i.glyphicon.glyphicon-calendar
          .col-md-6
            p.input-group
              input.form-control(id='dateTo' type='text' ng-model='item.dateTo' is-open='opened' placeholder='TO' datepicker-popup='{{format}}' min-date='item.dateFrom'  datepicker-options='dateOptions' date-disabled='disabled(date, mode)' close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='open()')
                  i.glyphicon.glyphicon-calendar

      .form-group
        label(for='synopsis').control-label Synopsis
        textarea.form-control(id='synopsis' rows='4' ng-model='item.synopsis' placeholder='Description')

      movies(ng-if='isFilm()')

      seasons(ng-if='isSeason()')

      episodes(ng-if='isEpisode()')

.modal-footer
  button.btn.btn-primary(type='submit' ng-click='addItem()' ng-if='!item._id') Add
  button.btn.btn-primary(type='submit' ng-click='updateItem()' ng-if='item._id') Update
  button.btn.btn-primary(ng-click='cancel()') Cancel
