script(type='text/ng-template' id='imagesTemplate.html')
  a
    img(ng-src='{{match.model.imgix}}?fit=crop&w=100&h=30')
    span(ng-bind-html='match.label | typeaheadHighlight:query')

.modal-header(style='background-image:url({{item.poster.imgix}}?fit=crop&w=1000&h=200);')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title {{item.title | limitTo:50}}
.modal-body
  form(role='form')

    div(ng-if='modalType === "category"')
      categorys

    div(ng-if='modalType === "video"')
      videos

    div(ng-if='modalType === "language"')
      languages

    div(ng-if='modalType === "image"')
      images

    div(ng-if='modalType === "licensor"')
      licensors

    div(ng-if='modalType === "client"')
      clients

    div(ng-if='modalType === "user"')
      users

    div(ng-if='modalType === "actor"')
      actors

    div(ng-if='modalType === "post"')
      posts

    div(ng-if='modalType === "config"')
      configs

    div(ng-if='modalType === "widget"')
      widgets

    div(ng-if='modalType === "work"')
      works

    div(ng-if='modalType !== "category" && modalType !== "video" && modalType !== "language" && modalType !== "image" && modalType !== "licensor" && modalType !== "client" && modalType !== "user" && modalType !== "actor" && modalType !== "post" && modalType !== "config" && modalType !== "widget" && modalType !== "work"')
      .form-group
        label(for='type').control-label Type
      .form-group
        .btn-group
          label.btn.btn-primary(ng-model='item.type' btn-radio='"movie"' ng-if='isFilm()') Movie
          label.btn.btn-primary(ng-model='item.type' btn-radio='"serie"' ng-if='isFilm()') Série
          label.btn.btn-primary(ng-model='item.type' btn-radio='"season"' ng-if='isSeason()') Season
          label.btn.btn-primary(ng-model='item.type' btn-radio='"episode"' ng-if='isEpisode()') Episode

      .form-group
        label(for='title').control-label Title
        input.form-control(id='title' type='text' ng-model='item.title' ng-change='slugify(item.title)' placeholder='Title')
        label(for='slug').control-label Slug
        input.form-control(id='slug' type='text' ng-model='item.slug' placeholder='Slug url')

      .form-group
        label(for='thumb').control-label Thumb
        div
          input.form-control(type='text' ng-model='item.thumb' placeholder='Search thumb' typeahead='image as image.name for image in loadImages($viewValue, "thumb") | limitTo: 30' typeahead-template-url='imagesTemplate.html' style="display:inline;width:80%")
          button.btn.btn-s.btn-primary(ng-click='uploadThumb()' style="display:inline")
            | Upload

      .form-group
        label(for='poster').control-label Poster
        div
          input.form-control(type='text' ng-model='item.poster' placeholder='Search poster' typeahead='image as image.name for image in loadImages($viewValue,"poster") | limitTo: 5' typeahead-template-url='imagesTemplate.html' style="display:inline;width:80%")
          button.btn.btn-s.btn-primary(ng-click='uploadPoster()' style="display:inline")
            | Upload
        h6.control-label Poster Profiles (16:31 adSpots)
        div(ng-if='item.poster' class='row fix-height')
          div(class='img-ratio-adspot col-md-3')
            img(ng-src='{{item.poster.imgix}}{{extractProfile(item.poster,"16:31")}}' class='img-thumbnail' ng-click='cropImage(item.poster,"16:31")')

      .form-group
        label.control-label Dates
        .row
          .col-md-6
            label.control-label From (inclu)
            p.input-group
              input.form-control(id='dateFrom' type='text' ng-model='item.dateFrom' is-open='opened' placeholder='FROM' datepicker-popup='{{format}}' datepicker-options='dateOptions' date-disabled='disabled(date, mode)' close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='opened=!opened')
                  i.glyphicon.glyphicon-calendar
          .col-md-6
            label.control-label To (exclu)
            p.input-group
              input.form-control(id='dateTo' type='text' ng-model='item.dateTo' is-open='opened2' placeholder='TO' datepicker-popup='{{format}}' min-date='item.dateFrom'  datepicker-options='dateOptions' date-disabled='disabled(date, mode)' close-text='Close')
              span.input-group-btn
                button.btn.btn-default(ng-click='opened2=!opened2')
                  i.glyphicon.glyphicon-calendar

      .form-group
        label(for='synopsis').control-label Synopsis
        textarea.form-control(id='synopsis' rows='4' ng-model='item.synopsis' placeholder='Description')

      movies(ng-if='isFilm()')

      seasons(ng-if='isSeason()')

      episodes(ng-if='isEpisode()')

.modal-footer
  button.btn.btn-primary(type='submit' ng-click='addItem()' ng-if='!item._id') Add
  button.btn.btn-primary(type='submit' ng-click='updateItem()' ng-if='item._id && modalType !== "user"') Update
  button.btn.btn-primary(ng-click='cancel()') Cancel
