div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          ul.list-group
            li.list-group-item(ng-repeat='asset in assets')
              strong {{asset.name}}
              br
              span.text-muted {{asset.sources.length}}
              a(ng-click='edit(asset)')
                span.glyphicon.glyphicon-edit.pull-right
              a.trash(ng-click='delete(asset)')
                span.glyphicon.glyphicon-trash.pull-right
