script(type='text/ng-template' id='couponsTemplate.html')
  a
    span(ng-bind-html='match.model.name | typeaheadHighlight:query')

.form-group
  label(for='name').control-label Name
  input.form-control(id='name' type='text' ng-model='item.data.name'  placeholder='Widget name')
.form-group
  label(for='coupon').control-label Coupon
  div
    input.form-control(id='coupon' type='text' ng-model='item.data.coupon'  placeholder='Search Coupon' typeahead='coupon as coupon.name for coupon in coupons' typeahead-template-url='couponsTemplate.html' style="display:inline;width:80%")
.form-group(ng-if="hasCoupon()")
  .form-group
    label(for='class').control-label Class
    input.form-control(id='class' type='text' ng-model='item.data.class'  placeholder='Widget class')
  .form-group
    label(for='label').control-label Button Label
    input.form-control(id='label' type='text' ng-model='item.data.label'  placeholder='Widget Button label')
  .form-group
    label(for='image').control-label Image
    div
      input.form-control(id="image" type='text' ng-model='item.image' placeholder='Search image' typeahead='image as image.name for image in loadImages($viewValue,"widget") | limitTo: 5' typeahead-template-url='imagesTemplate.html' style="display:inline;width:80%")
      button.btn.btn-s.btn-primary(ng-click='uploadWidget()' style="display:inline")
        | Upload
  .form-group(ng-if="item.image")
    label(for='width').control-label Width
    input.form-control(id='width' type='number' ng-model='item.data.width'  placeholder='Widget width')
    label(for='height').control-label Height
    input.form-control(id='height' type='number' ng-model='item.data.height'  placeholder='Widget height')
  .form-group
    label.control-label Embed Widget
    textarea.form-control(ng-model='jsonString' rows='10')
  .form-group
    label.control-label Demo Widget
    div(ng-bind-html='deliberatelyTrustDangerousSnippet()')

