.form-group
  label.control-label Durée (secondes)
  input.form-control(type='number' ng-model='item.duration')
  slider(min='0' step='10' max='10000' ng-model="item.duration")

.form-group
  label.control-label Episode Number
  input.form-control(type='number' min='0' ng-model='item.episodeNumber')

.form-group
  label.control-label Season
  input.form-control(type='text' ng-model='item.season' placeholder='Search season' typeahead='season as season.title for season in loadSeasons($viewValue) | limitTo: 5' typeahead-template-url='imagesTemplate.html')

.form-group
  label.control-label Video
  input.form-control(type='text' ng-model='item.video' placeholder='Search video' typeahead='video as video.name for video in loadVideo($viewValue) | limitTo: 5' typeahead-template-url='imagesTemplate.html')
  a(ng-if="mpd" target="_backoplayer" href="https://afrostream-player.herokuapp.com/?url={{mpd}}")
    | https://afrostream-player.herokuapp.com/?url={{mpd}}
