@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

//@icon-font-path: '/bower_components/bootstrap/fonts/';
@icon-font-path: '/assets/fonts/';
//@fa-font-path: '/bower_components/font-awesome/fonts';
@fa-font-path: '/assets/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn.csa {
  filter:opacity(.3);
}

.btn.csa.active {
  filter:opacity(1);
  box-shadow: none;
}


// injector
@import 'account/login/login.less';
@import 'actors/actors.less';
@import 'admin/admin.less';
@import 'categorys/categorys.less';
@import 'clients/clients.less';
@import 'configs/configs.less';
@import 'data/data.less';
@import 'episodes/episodes.less';
@import 'images/images.less';
@import 'jobs/jobs.less';
@import 'languages/languages.less';
@import 'licensors/licensors.less';
@import 'main/main.less';
@import 'modal/modal.dialog.less';
@import 'movies/movies.less';
@import 'posts/posts.less';
@import 'seasons/seasons.less';
@import 'users-logs/users-logs.less';
@import 'users/users.less';
@import 'videos/videos.less';
@import 'widgets/widgets.less';
@import 'works/works.less';
@import 'footer/footer.less';
@import 'modal/modal.less';
@import 'navbar/navbar.less';
@import 'side-bar/side-bar.less';
// endinjector
