div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          rd-widget
            rd-widget-header(icon='fa-tasks' title='{{type}}')
              .row
                input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='$parent.$parent.searchField')
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='newItem()')
                  span.glyphicon.glyphicon-plus
                  span Add new
            rd-widget-body.medium.no-padding
              .table-responsive
                table.table
                  colgroup
                    col.col-md-1
                    col.col-md-2
                    col.col-md-7
                    col.col-md-1
                    col.col-md-1
                  thead
                    tr
                      th.text-center ID
                      th.text-center Thumb
                      th.text-center Name
                      th.text-center Type
                      th.text-center In prod
                      th.text-center Actions
                  tbody
                    tr(ng-repeat='item in items | filter:searchField')
                      td.text-center
                        span {{item._id}}
                      td(ng-if='item.poster || item.imgix')
                        .thumbnail
                          img.poster.img-responsive(src='{{item.imgix}}?fit=crop&w=200&h=160')
                      td.text-center
                        strong {{item.name}}
                      td.text-center
                        span.text-success {{item.type}}
                      td.text-center
                        span.text-success
                          i.fa(class='fa-check')
                      td.pull-right
                        button.btn.btn-xs.btn-primary(ng-click='editItem(item)')
                          span.glyphicon.glyphicon-pencil
                        button.btn.btn-xs.btn-danger(ng-click='deleteItem(item)')
                          span.glyphicon.glyphicon-trash
