.form-group
  label(for='name').control-label Name
  input.form-control(id='name' type='text' ng-model='item.name' placeholder='Name')

.form-group
  label.control-label Type
.form-group
  .btn-group
    button.btn.btn-xs.btn-info(ng-model='item.type' btn-radio='"poster"' )
      span Poster
    button.btn.btn-xs.btn-info(ng-model='item.type' btn-radio='"thumb"' )
      span Thumb
    button.btn.btn-xs.btn-info(ng-model='item.type' btn-radio='"logo"' )
      span Logo
    button.btn.btn-xs.btn-info(ng-model='item.type' btn-radio='"actor"' )
      span Actor

.form-group
  label(for='imgix').control-label Imgix url
  input.form-control(id='imgix' type='text' ng-model='item.imgix' placeholder='Imgix url' disabled)

.form-group
  label(for='url').control-label Amazon S3 url
  input.form-control(id='url' type='text' ng-model='item.url' placeholder='AWS S3 url' disabled)
