div(id='sidebar-wrapper')
  ul.sidebar
    li.sidebar-main
      a(ng-click='toggleSidebar()')
        span.menu-icon.glyphicon.glyphicon-transfer
    li.sidebar-title
      span Navigation
    li(ng-repeat='item in menu', ui-sref-active='active').sidebar-list
      a(ui-sref='{{item.state}}') {{item.title}}
        span(class='{{item.icon}}').menu-icon.fa

  // sidebaris hidden (unused yet)
    .sidebar-footer
      .col-xs-4
        a(href='https://github.com/Afrostream/afrostream-back-end' target='_blank') Github
      .col-xs-4
        a(href='https://github.com/Afrostream/afrostream-back-end/README.md' target='_blank') About
      .col-xs-4
        a(href='#')
          span
            i.fa.fa-2.fa-y-combinator