.form-group.form-group-heading
  .row.row-header
    label(for='name').control-label Name
  .row
    input.form-control(id='name' type='text' ng-model='item.name' placeholder='Name')

.form-group.form-group-heading
  .row.row-header
    label(for='encodingId').control-label EncodingId
  .row
    input.form-control(id='encodingId' type='text' ng-model='item.encodingId' placeholder='0b8fe46d...')

.form-group.form-group-heading
  .row.row-header
    label(for='duration').control-label Duration (sec)
  .row
    input.form-control(id='duration' type='number' ng-model='item.duration' placeholder='0')

.form-group.form-group-heading
  .row.row-header
    label.control-label Assets
    button.btn.btn-xs.btn-primary.pull-right(ng-click='newElem(item.sources)')
      span.glyphicon.glyphicon-plus
  .row
    .col-lg-12
      .row(ng-repeat='asset in item.sources')
        .col-md-6
          input.form-control.input-sm(id='src' type='text' ng-model='asset.src' placeholder='Source')
        .col-md-4
          select.form-control.input-sm(id='type' type='text' ng-model='asset.type' placeholder='Type' ng-options='f for f in formats')
        .col-md-2
          .button-group-vertical
            button.btn.btn-xs.btn-danger(ng-click='removeElem(asset,item.sources,"asset",$index)')
              span.glyphicon.glyphicon-trash.pull-right

.form-group.form-group-heading
  .row.row-header
    label.control-label Captions
    button.btn.btn-xs.btn-primary.pull-right(ng-click='newElem(item.captions)')
      span.glyphicon.glyphicon-plus
    button.btn.btn-xs.btn-primary.pull-right(ng-click='uploadCaptions(item.captions)')
      span.glyphicon.glyphicon-upload Upload
  .row
    .col-lg-12
      .row(ng-repeat='caption in item.captions')
        .col-md-6
          label(for='src').control-label Source
          input.form-control.input-sm(id='src' type='text' ng-model='caption.src' placeholder='Source url')
        .col-md-4
          label(for='type').control-label Lang
          select.form-control.input-sm(id='lang' type='text' ng-model='caption.langId' placeholder='Lang key' ng-options='f._id as f.label for f in languages')
        .col-md-2
          .button-group-vertical
            button.btn.btn-xs.btn-danger(ng-click='removeElem(caption,item.captions,"caption",$index)')
              span.glyphicon.glyphicon-trash.pull-right
  .row
    .col-lg-12
      div(ng-if='item && item.captions.length && item._id')
        label(class='btn btn-primary' ng-click='packCaptions()' )
          | Pack captions


.form-group
  label.control-label Countries
  countries(props="countriesProps")

.form-group
  label.control-label Broadcasters
  broadcasters(props="broadcastersProps")
