.form-group.form-group-heading
  .row.row-header
    label(for='name').control-label Name
  .row
    input.form-control(id='name' type='text' ng-model='item.name' placeholder='Name')

.form-group.form-group-heading
  .row.row-header
    label.control-label Assets
    button.btn.btn-xs.btn-primary.pull-right(ng-click='newAsset(item.sources)')
      span.glyphicon.glyphicon-plus
  .row
    .col-lg-12
      .row(ng-repeat='asset in item.sources')
        .col-md-6
          input.form-control.input-sm(id='src' type='text' ng-model='asset.src' placeholder='Source')
        .col-md-4
          select.form-control.input-sm(id='type' type='text' ng-model='asset.type' placeholder='Type' ng-options='f for f in formats')
        .col-md-2
          .button-group-vertical
            button.btn.btn-xs.btn-primary.pull-right(ng-click='saveAsset(asset)')
              span.glyphicon.glyphicon-floppy-disk
            button.btn.btn-xs.btn-danger(ng-click='removeAsset(asset,$index)')
              span.glyphicon.glyphicon-trash.pull-right
.form-group.form-group-heading
  .row.row-header
    label.control-label Captions
    button.btn.btn-xs.btn-primary.pull-right(ng-click='newCaption(item.captions)')
      span.glyphicon.glyphicon-plus
  .row
    .col-lg-12
      .row(ng-repeat='caption in item.captions')
        .col-md-6
          label(for='src').control-label Source
          input.form-control.input-sm(id='src' type='text' ng-model='caption.src' placeholder='Source url')
        .col-md-4
          label(for='type').control-label Lang
          select.form-control.input-sm(id='lang' type='text' ng-model='caption.lang' placeholder='Lang key' ng-options='f.label for f in languages')
        .col-md-2
          .button-group-vertical
            button.btn.btn-xs.btn-primary.pull-right(ng-click='saveCaption(caption)')
              span.glyphicon.glyphicon-floppy-disk
            button.btn.btn-xs.btn-danger(ng-click='removeCaption(caption,$index)')
              span.glyphicon.glyphicon-trash.pull-right
