.form-group
  label(for='label').control-label Label
  input.form-control(id='label' type='text' ng-model='item.label'  placeholder='Label')
  label(for='lang').control-label Lang key
  input.form-control(id='lang' type='text' ng-model='item.lang' placeholder='Src lang')
