div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.green.pull-left
                i.fa.fa-trophy
              .title {{licensors}}
              .comment Licensors
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.red.pull-left
                i.fa.fa-users
              .title {{users}}
              .comment Users
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.blue.pull-left
                i.fa.fa-bookmark
              .title {{categorys}}
              .comment Categorys
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.orange.pull-left
                i.fa.fa-camera
              .title {{movies}}
              .comment Movies
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.purple.pull-left
                i.fa.fa-film
              .title {{seasons}}
              .comment Seasons
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.green.pull-left
                i.fa.fa-film
              .title {{episodes}}
              .comment Episodes
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.blue.pull-left
                i.fa.fa-file-video-o
              .title {{videos}}
              .comment Videos
      //.row
      //  .col-lg-6
      //    rd-widget
      //      rd-widget-header(icon='fa-users' title='Users')
      //        .row
      //          input.form-control.input-sm(type='text' placeholder='Find a user here.' ng-model='$parent.$parent.searchField')
      //      rd-widget-body.medium.no-padding
      //        .table-responsive
      //          table.table
      //            thead
      //              tr
      //                th.text-center ID
      //                th.text-center Username
      //                th.text-center Email
      //                th.text-center Role
      //            tbody
      //              tr(ng-repeat='item in users | filter:searchField')
      //                td.text-center
      //                  span {{item._id}}
      //                td.text-center
      //                  span {{item.name}}
      //                td.text-center
      //                  span {{item.email}}
      //                td.text-center
      //                  span {{item.role}}

