div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-3.col-md-6.col-xs-12
          rd-widget
            rd-widget-body
              .widget-icon.green.pull-left
                i.fa.fa-users
              .title 80
              .comment Users
