div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
    side-bar

    div(id='content-wrapper')
        navbar
        .page-content
            .row
                .col-lg-12
                    div(ng-if="!ready")
                        div Loading...
                    div(ng-if="ready")
                        div(class='btn-group')
                            label(class='btn btn-primary {{stateFilter=="inactive"?"active":""}}' ng-click='updatestateFilter("inactive")' uib-btn-radio="'inactive'")
                                |{{stats.inactiveCount}} Queued
                            label(class='btn btn-primary {{stateFilter=="active"?"active":""}}' ng-click='updatestateFilter("active")' uib-btn-radio="'active'")
                                |{{stats.activeCount}} Active
                            label(class='btn btn-primary {{stateFilter=="failed"?"active":""}}' ng-click='updatestateFilter("failed")' uib-btn-radio="'failed'")
                                |{{stats.failedCount}} Failed
                            label(class='btn btn-primary {{stateFilter=="complete"?"active":""}}' ng-click='updatestateFilter("complete")' uib-btn-radio="'complete'")
                                |{{stats.completeCount}} Complete
                            label(class='btn btn-primary {{stateFilter=="delayed"?"active":""}}' ng-click='updatestateFilter("delayed")' uib-btn-radio="'delayed'")
                                | {{stats.delayedCount}} Delayed

                        table.table.table-hover
                            thead
                                tr
                                    td id
                                    td type
                                    td data
                                    td error
                                    // td priority
                                    // td progress
                                    td(style="width:80px") created at
                                    // td promote at
                                    // td updated_at
                                    td(style="width:80px") started at
                                    td(title="Attempts made" style="width:30px") AM
                                    td(title="Attempts remaining" style="width:30px") AR
                                    td(ng-if="stateFilter=='inactive' || stateFilter=='failed' || stateFilter=='complete'")
                            tbody
                                tr(ng-repeat='job in jobs')
                                    td {{job.id}}
                                    td {{job.type}}
                                    td
                                        pre(style="width:250px") {{job.data}}
                                    td {{job.error}}
                                    // td {{job.priority}}
                                    // td {{job.progress}}
                                    td {{job.created_at}}
                                    // td {{job.promote_at}}
                                    // td {{job.updated_at}}
                                    td {{job.started_at}}
                                    td {{job.attempts.made}}
                                    td {{job.attempts.remaining}}
                                    td(ng-if="stateFilter=='inactive' || stateFilter=='failed' || stateFilter=='complete'")
                                        button.btn.btn-xs.btn-danger(ng-click='deleteJob(job.id)' tooltip='Delete' )
                                            span.glyphicon.glyphicon-trash