.form-group
    label(for='firstName').control-label First Name
    input.form-control(id='name' type='text' ng-model='item.firstName' placeholder='First Name')
.form-group
    label(for='lastName').control-label Last Name
    input.form-control(id='name' type='text' ng-model='item.lastName' placeholder='Last Name')
.form-group
    label(for='imdbId').control-label Imdb Id
    input.form-control(id='name' type='text' ng-model='item.imdbId' placeholder='Imdb Id')
