.form-group
    label(for='firstName').control-label First Name
    input.form-control(id='name' type='text' ng-model='item.firstName' placeholder='First Name')
.form-group
    label(for='lastName').control-label Last Name
    input.form-control(id='name' type='text' ng-model='item.lastName' placeholder='Last Name')
.form-group
    label(for='imdbId').control-label Imdb Id
    input.form-control(id='name' type='text' ng-model='item.imdbId' placeholder='Imdb Id')
.form-group
    label(for='picture').control-label Picture
    div
      input.form-control(type='text' ng-model='item.picture' placeholder='Search poster' typeahead='image as image.name for image in loadImages($viewValue,"actor") | limitTo: 5' typeahead-template-url='imagesTemplate.html' style="display:inline;width:80%")
      button.btn.btn-s.btn-primary(ng-click='uploadPicture()' style="display:inline")
          | Upload