div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          .btn-group.pull-right(role='button')
            .btn-group
              input.form-control(type='text', placeholder='Search a movie here.', ng-model='searchMovie')
            .btn-group
              button.btn.btn-primary.pull-right(ng-click='newMovie()')
                span.glyphicon.glyphicon-plus
                span Add new
              .clearfix

      .col-md-3(ng-repeat='movie in movies')
        .thumbnail
          img(src='{{movie.poster}}')
          .caption
            h3 {{movie.info}}
            p {{movie.synopsis | limitTo:50}}
              .btn-group
                button.btn.btn-primary(ng-click='editMovie(movie)')
                  span.glyphicon.glyphicon-pencil.pull-right
                button.btn.btn-danger(ng-click='deleteMovie(movie)')
                  span.glyphicon.glyphicon-trash.pull-right
