div(id='page-wrapper' ng-class='{open: toggle}' ng-cloak)
  side-bar

  div(id='content-wrapper')
    navbar
    .page-content
      .row
        .col-lg-12
          rd-widget
            rd-widget-header(icon='fa-tasks' title='{{type}}')
              .row
                input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='searchField')
              .row
                button.btn.btn-xs.btn-primary.pull-right(ng-click='newItem()')
                  span.glyphicon.glyphicon-plus
                  span Add new
            rd-widget-body.medium.no-padding
              .table-responsive
                table.table
                  tbody
                    tr(ng-repeat='item in items | filter:searchField')
                      td
                        .thumbnail
                          img.poster.img-responsive(src='{{item.poster}}')
                      td.text-right.text-nowrap
                        strong {{item.title}}
                        br
                        span.text-muted {{item.synopsis | limitTo:100}}{{item.synopsis.length > 100 ? '...' : ''}}
                      td
                        span.text-success
                          i.fa(class='fa-check')
                      td
                        button.btn.btn-xs.btn-primary(ng-click='editItem(item)')
                          span.glyphicon.glyphicon-pencil
                        button.btn.btn-xs.btn-danger(ng-click='deleteItem(item)')
                          span.glyphicon.glyphicon-trash
