.modal-header(style='background-image:url({{movie.poster}});')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title {{movie.title | limitTo:50}}
.modal-body
  form.form-horizontal(role='form')
    .form-group
      label(for='type').control-label Type
    .form-group
      .btn-group
        label.btn.btn-primary(ng-model='movie.type' btn-radio='"movie"') Movie
        label.btn.btn-primary(ng-model='movie.type' btn-radio='"serie"') Série

    .form-group
      label(for='title').control-label Title
      input.form-control(id='title' type='text' ng-model='movie.title' ng-change='slugify(movie.title)' placeholder='Movie Title')
      label(for='slug').control-label Slug
      input.form-control(id='slug' type='text' ng-model='movie.slug' placeholder='Movie Slug url')

    .form-group
      label(for='poster').control-label Poster
      input.form-control(id='poster' type='text' ng-model='movie.poster' placeholder='Movie Poster Url/Id')
      //button(ngf-select ng-model='file')
      img(ngf-src='movie.poster' ngf-default-src='/thumb.jpg')
    .form-group
      label(for='synopsis').control-label Synopsis
      textarea.form-control(id='synopsis' rows='4' ng-model='movie.synopsis' placeholder='Movie Description')
.modal-footer
  button.btn.btn-primary(type='submit' ng-click='addMovie()' ng-if='!movie._id') Add
  button.btn.btn-primary(type='submit' ng-click='updateMovie()' ng-if='movie._id') Update
  button.btn.btn-primary(ng-click='cancel()') Cancel
