.modal-header(style='background-image:url({{item.poster}});')
  button.close(data-dismiss='modal' aria-hidden='true')
  h4.modal-title Mam sources assets

.modal-body.videos
  .row
    .col-md-6
    input.form-control.input-sm(type='text' placeholder='Find a {{type}} here.' ng-model='searchField')
    .col-md-6
    button.btn.btn-xs.btn-primary.pull-right(ng-click='importAll()' ng-disabled='true')
      // ng-disabled='!importEnabled')
      span.glyphicon.glyphicon-plus Import all
  .row
    table.table.table-striped.table-hover.table-condensed(data-click-to-select='true')
      colgroup
        col.col-md-1
        col.col-md-1
        col.col-md-1
        col.col-md-2
        col.col-md-6
        col.col-md-2
      thead
        tr
          th Id
          th State
          th Drm
          th EncodingId
          th Title
          th Duration
      tbody
        tr(ng-repeat='item in mamSources | filter:searchField' ng-click='selectVideo(item)' ng-class='{"selected":item.id == selectedItemId}')
          td
            span {{item.id}}
          td.text-center
            i.glyphicon(ng-class='item.state ==="ready" ? "glyphicon-ok" : "glyphicon-ko"')
          td.text-center
            strong {{item.drm?'&#x2713;':'&#x274c;'}}
          td
            strong {{item.uuid}}
          td
            strong {{item.title}}
          td
            strong {{item.duration}}
.modal-footer
  button.btn.btn-primary(type='submit' ng-click='import()' ng-disabled='!selectedItem.id && !importEnabled') Import
  button.btn.btn-primary(ng-click='cancel()') Cancel
