.form-group
  label(for='label').control-label Target
  input.form-control(id='label' type='text' ng-model='item.target'  placeholder='Route target')
.form-group(ng-class='{"has-error" : !wellFormed}')
  label.control-label Config
  textarea.form-control(ng-model='jsonString' rows='10')
